.col {
    float: left;
    width: 33%;
    border-right: 1pt dashed
}

.col.col1 {
    border-left: 1pt dashed
}

.postit {
    padding: 10px;
    border-bottom: 1pt dashed;
}

.postit:first-child {
    border-top: 1pt dashed;
}

.container {
    width: 1500px
}

.save {
    display: none
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr.line1 {
    height: 84px
}

tr.line2 {
    height: 158px;
    word-break: break-word;
}

tr.line3 {
    height: 58px
}

td {
    border: 1px solid black;
    text-align: center;
}

.cellWi {
    font-size: 50px
}

.cellQRCode {
    color: red;
    font-size: 30px;
    width: 20%
}

.cellLibelle {
    font-size: 20px
}

.cellPoints {
    font-size: 20px;
    width: 20%
}

.cellDev {
    width: 40%
}

.cellVerif {
    width: 40%
}

.cellVersion {
    width: 15%;
}

.cellStatut {
    width: 30%;
    font-size: 12px;
    text-align: left;
    padding: 5px;
}

.cellStatut>div:not(:last-child) {
    margin-bottom: 15px
}

@media print {
    .divTakeItEasy {
        display: none
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 24px;
    background-color: #f5f5f5;
}

input {
	text-decoration: none;
}

input:focus {
	outline: none;
}

.card100 {
	width: 100%;
	display: flex;
}

.card50 {
	width: 50%;
	margin: 0 20px;
	box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
	border-radius: 4px;
	background-color: #fff;
	z-index: 0;
}

.content {
	padding: 16px;
}

.line {
	margin:  50px 0;
}

.inputNumber:hover, .inputNumber:focus {
	border: 1px solid black;
}

.inputNumber {
	padding: 14.5px 10px;
	height: 1.1875em;
	width: 50px;
	border: 1px solid rgba(0, 0, 0, 0.23);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.btn:hover, .btn:focus {
	border: 2px solid black;
}

.btn {
	background: white;
	margin: 8px;
    border: 2px solid rgba(0, 0, 0, 0.23);
    padding: 5px 15px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}


.file {
	z-index: -1;
	position: absolute;
	margin-left: -123px;
	margin-top: 2px;
}

.label-file {
	
}
